<html>
    <head>
	<title> DAuth </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/javascripts/rollups/md5.js"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=1728797977162653&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
    </head>


    <body style="margin:0;padding:0" >
        <img style="position:fixed;width:100%;height:100%;object-fit: cover" src="/images/bg.jpg"/>
	<div class="card text-white bg-dark mb-3" style="width:90%; max-width:600px; min-height:500px; margin:auto; top: 20px;">
	  <div class="card-header">DAuth - A decentralized authentication mechanism</div>
	  <div class="card-body">
	      <div class="alert alert-dark" role="alert">
		    This project is currently on the Rinkeby Testnet
	      </div>
		  <center>
		      Use this <br />
		      	<a href="https://dauth.co/utils/login?redirect=https://dauth.co/verifier/" style="background-color:#007bff; border-color:#007bff;color:#fff;cursor:pointer;line-height:3rem; font-size:1.5rem; border-radius:0.3rem;display:inline-block;text-decoration:none; border:1px solid transparent;padding-left:16px;padding-right:16px;" target="_blank">Login with Ethereum (Demo)</a>

			<br /><br/><br />
			instead of 
			<br />
			<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
		  </center>
		  <br /><br /> 
		  <ul>
		      <li><a href="/plugin">Integrate DAuth on your website</a></li>
		      <li><a href="https://medium.com/madhavanmalolan/login-with-ethereum-e6dbd408d46c" target="_blank"> Read more about "Why Dauth?"</a></li>
		      <li><a href="https://medium.com/madhavanmalolan/how-dauth-works-8572388efa51" target="_blank"> Learn about the technical details of Dauth </a></li>
		  </ul>
	  </div>
	</div>
	<a href="https://github.com/madhavanmalolan/dauth"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118711630-1"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-118711630-1');
	</script>

    </body>


</html>
