<html>
    <head>
	<title> DAuth </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/javascripts/rollups/md5.js"></script>
    </head>


    <body style="margin:0;padding:0" >
        <img style="position:fixed;width:100%;height:100%;object-fit: cover" src="/images/bg.jpg"/>
	<div class="card text-white bg-dark mb-3" style="width:90%; max-width:600px; min-height:500px; margin:auto; top: 20px;">
	  <div class="card-header">DAuth - Login</div>
	  <div class="card-body">
	    <h5 class="card-title">Why DAuth?</h5>
	    <ul>
		<li> No transaction fees to login </li>
		<li> Login with a username and password from any device. No need for your device to have MetaMask to login </li>
		<li> Verify user's ethereum wallet address </li>
		<li> User's data and Ethers are never compromised </li>
		<li> Easy to integrate - just like any other social login</li>
	    </ul>
	    Try out the demo by logging in here :) <br /><br />
		  <center>
		      	<a href="https://dauth.co/utils/login?redirect=https://dauth.co/verifier/" style="background-color:#007bff; border-color:#007bff;color:#fff;cursor:pointer;line-height:3rem; font-size:1.5rem; border-radius:0.3rem;display:inline-block;text-decoration:none; border:1px solid transparent;padding-left:16px;padding-right:16px;font-family:Roboto ">Login with Dauth</a>
		  </center>
		  <br /><br /> 
	    <h5 class="card-title">Want to integrate Dauth on your website?</h5>
	    <a href="/plugin">Getting started</a> is as easy as any other social login. 
	  </div>
	</div>
    </body>


</html>
