<html>
    <head>
	<title> DAuth </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/javascripts/rollups/md5.js"></script>
    </head>


    <body style="margin:0;padding:0" >
        <img style="position:fixed;width:100%;height:100%;object-fit: cover" src="/images/bg.jpg"/>
	<div class="card text-white bg-dark mb-3" style="width:90%; max-width:600px;height:90%; margin:auto; top: 5%;">
	  <div class="card-header">DAuth</div>
	  <div class="card-body">
	    <h5 class="card-title">Login</h5>
		  <div class="form-group">
		      <label for="username">Username</label>
		      <input style="background:#303030;color:#eeeeee" class="form-control" id="username"  placeholder="Enter username">
		  </div>
		  <center>
		      <button id="login" onClick="login()" type="submit" class="btn btn-lg btn-outline-primary">Login</button><br />
		      <span id="loading">  <i class="fa fa-circle-o-notch fa-spin"></i></span>

		      <br /><br /><br />
		      Don't have a DAuth username? <a target="_blank" href="https://dauth.co/users/new"> Sign up now!</a>

		  </center>
	  </div>
	</div>
	<script>
            $(document).ready(function(){
		$("#loading").hide();
	    });
            function login(){
		$("#loading").show();
		$("#login").hide();
	        var url = new URL(window.location.href);
		var redirect = url.searchParams.get("redirect");
		if(!redirect){
		    toastr.error("Invalid login. Redirect url not available");
		}
		$.get("/utils/url?username="+$("#username").val()).then(function(response){
		    if(response.length == 0){
			toastr.error("Username is not registered onchain");
		        $("#loading").hide();
		        $("#login").show();
			return;
		    }
		    window.location.href = response + "?redirect="+redirect+"&action=login&username="+$("#username").val();
		}).catch(function(error){
		    toastr.error("Something went wrong. Please try again");
		    $("#loading").hide();
		    $("#login").show();
		});
	    }
        </script> 

    </body>


</html>
