<html>
    <head>
	<title> DAuth </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/javascripts/rollups/md5.js"></script>
    </head>


    <body style="margin:0;padding:0" >
	<div id="template" hidden>
	<a href="https://dauth.co/utils/login?redirect=VERIFIER_URL" style="background-color:#007bff; border-color:#007bff;color:#fff;cursor:pointer;line-height:3rem; font-size:1.5rem; border-radius:0.3rem;display:inline-block;text-decoration:none; border:1px solid transparent;padding-left:16px;padding-right:16px;" >Login with Dauth</a>
	</div>

        <img style="position:fixed;width:100%;height:100%;object-fit: cover" src="/images/bg.jpg"/>
	<div class="card text-white bg-dark mb-3" style="width:90%; max-width:600px; min-height:500px; margin:auto; top: 20px;">
	  <div class="card-header">DAuth - Integrate</div>
	  <div class="card-body">
	    <h5 class="card-title">Integrate login in 60 seconds </h5>
	          Just as easy to integrate as other social logins, but more secure. <br /><br />
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/Tgnk3pqNxSw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		  <br /><br /> 
            
	    <h5 class="card-title">Server side integration</h5>
	    Refer to the instructions <a target="_blank" href="https://github.com/madhavanmalolan/dauth#nodejs-example"> here </a><br /><br />
	    <h5 class="card-title">HTML Plugin</h5>

	    <p> You may paste this anywhere in your web page. This link will redirect the user to the appropriate DAuth Login page. Look at the serverside integration to create a Verifier Url </p>
	    <div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Verifier URL" id="url" >
		    <div class="input-group-append">
		        <button onclick="generate()" class="btn btn-outline-secondary" type="button" id="generate">Generate Plugin</button>
	            </div>
	    </div>

	    <textarea style="width:100%; height: 100px" id="code"></textarea>
	    <br /><br />
	    <h5 class="card-title">Self hosted</h5>
	    If you do not want to use dauth.co servers, you may host your own. <a href="https://github.com/madhavanmalolan/dauth"> Fork on GitHub </a>
	  </div>
	</div>
	<script>
            function generate(){
		var url = $("#url").val();
		var template = $("#template").html();
		var code = template.replace("VERIFIER_URL",$("#url").val());
		$("#code").html(code);
	    }
	</script>
    </body>


</html>
